version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
    - checkout
    run:
        name: Setup testing environment
        command: |
           python/load-cache
           python/install-deps
           python/save-cache
      run:
          name: Run Tests
          command: |
            python3 -m pytest tests/test_comments.py
            $HOME/.local/bin/coverage run -m pytest
            $HOME/.local/bin/coverage report
            $HOME/.local/bin/coverage html  # open htmlcov/index.html in a browser
          name: Test        
      - store_artifacts:
          path: htmlcov
        

workflows:
  main:
    jobs:
      - build-and-test
